*{
    padding: 0;
    margin: 0;
    box-sizing :border-box;
}
    .container{
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
    }
    .clock{
    display: flex;
    }
    .clock, .bx-time, .bxs-envelope{
        margin-right: 10px;
    }
    .clock p {
        margin-right: 1em;
    }
    .visit-us{
        display: flex;
    }
    .head-time{
        display:flex;
        justify-content: space-between;
    }
    .top{
        background-color: green;
        color: white;
    }
    .solari-menu, .nav-icons{
        display: flex;
        justify-content: space-between;
    }
    .nav-section .container{
         display:flex;
         justify-content: space-between;
         align-items: center;
         padding: 10px 0;
     }
     .navbar-logo h1{
         font-size: 2em;
     }
     .harnest{
         background-image: url("new-bg-img.jpg");
         width: 100%;
         height: 420px;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;

        }
     .solari-menu a{
         text-decoration: none;
         color: black;
        margin-left: 20px;
        text-transform: uppercase;
        font-size: 10px;    
     }
    .bx-menu{
        display: none;
        visibility: hidden;
    }
    .nav-icons p{
        background-color: green;
        color: white;
        padding: 3px;
    }
    h2{
        font-size: 10px;
    }
    h2 span{
        background-color: yellowgreen;
        border-radius: 5px;
        padding: 5px;
    }
    .learn_more button{
        background-color: yellowgreen;
        color: white;
        border-style:none;
        padding: 5px 10px;
    }
    .harnest-text{
        padding: 60px 0;
        max-width: 550px;
        text-align: left;
        color: white;
        line-height: 40px;
        
    }
    .harnessing-text{
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 100;
    }
    .four-harnessing,.service-render{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-content: space-between;
        /* width: 100%; */
    }

    .harnessing1,.harnessing2,.harnessing3,.harnessing4{
        border: 2px transparent;
        max-width:12.5em;
        background-color: white;
        border-radius: 5px;
        margin: 0 auto;
        padding: 10px;
    }
    .four-harnessing h3{
        font-size: 13px;
    }
    .about-us{
        margin-top: 6em;
        
    }
    .learn{
        display: flex;
        
        align-items: center;
    }
    .learn button{
        height: 2.7em;
        padding: 0em 1em;
        background-color: green;
        color: white;
        border-style: none; 
        margin-right: 1.5em;
    }
    .bx-phone{
        border: 1px solid rgb(175, 180, 175);
        border-radius: 8px;
        background-color: white;
        height: 1em;
        
    }
    .phone{
        display: flex;
        align-items: center; 
    }
    .about-span{
        color: green;
    }
    .about-span span{
        background-color:green ;
        color: white;
        padding: 2px;
    }
    .about-us h1{
        font-size: 28px;
        
    }
    .about_page{
        line-height: 2em;
        max-width: 60em;
        padding-bottom: 3em;
        
    }
    .energy{
        max-width: 30em;
    }
    .about{
        display: flex; 
        justify-content: space-between;
    }
    .about .picture img{
        width: 20em; 
        border-radius: 5px;
        
    }
    .save{
        display: flex;
        justify-content: space-between;
    }
    .save span{
        color: green;
        
    }
    .capacity,.number{
        line-height: 1.2em;
    }
    .number{
        margin-left: 10px;
    }
    .years-expr{
        border: 1px solid;
        font-size: 19px;
        border-radius: 5px;
        line-height: 1.1em;
        height: 2.3em;
        
    }
    .services{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 35px;
     margin-top: 2.5em; 
    }
    .services h2,.work-process h2{
    font-size: 2em; 
    }
    .service-page{
        background-color:rgb(241, 238, 232);
        padding-top: 1em;
        padding-bottom: 3em;
    } 
    .service1,.service2,.service3,.service4{
        border: 2px solid;
        border-color: white;
        background-color: white;
        max-width: 13em;
        border-radius: 5px; 
        padding: 1em;
    }
    .service-render p{
        color:rgb(0, 0, 0);
        margin-bottom: 0.7em;
        
    }
     .bx-home-circle {
       border: 1px solid;
       border-color: rgb(77, 207, 77); 
       margin-bottom: 2em;
    }
    .service-render h3{
        margin-bottom: 0.7em;
        font-weight: 900;
    }
    .service-render{
        margin-top: 1.5em;
    }
    .work-process{
        text-align: center;
        padding-top: 4em;
    }
    .work-process-img{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .contact-us{
        background-image: url("map-img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        
    }
    .contact-span span{
        background-color: green;
        color:white;
        padding: 5px;
        border-radius: 5px;
        
    }
    .contact-span{
        color: white;
        margin-bottom: 2em;
        cursor: pointer;
    }
    .contact-flex h2{
        color: white;
        font-size: 1.5em;
    }
    .contact-us{
        margin-top: 3em;
        margin-bottom: 3em;
        padding: 2em;
    }
    .get-it-now{
        background-color: green;
        color: white;
        padding:5px 1.5em;
        border: transparent;
        cursor: pointer;
    }
     .contact-input-type{ 
        display: grid; 
        grid-template-columns: repeat(4,1fr);
        justify-content: space-between;
        align-items: center ;
    }
    .contact-input-type input{
        background-color: black;
        color: white;
        border: transparent;
    }
    .work-process-img{
        /* display: grid; */
        /* grid-template-columns: repeat(3,1fr); */
        /* gap: 10px; */
        /* justify-content: space-between; */
        margin-top: 1.5em;
        
    }
    .work-process-img1 img,.work-process-img2 img,.work-process-img3 img{
        width:17em;
        border-radius: 5px;
        height: 10em;
        
    }
    .work-process-date{
        border: 6px transparent white;
        color: green;
        font-size: 30px;
        width:50px;
        
        
    }
    h7{
        font-size: 25px;
        font-weight: bolder;
    }
    h8{
        font-size: 12px;
        font-weight: bold;
    }
    .first, .second, .third, .fourth{
        border: black 0.5px solid;
        border-radius: 5px;
        padding: 5px;
    }
    .first p{
        font-size: 9px;
    }
    .question{
        display: flex;
        flex-direction: column;
        flex: 2;
        gap: 10px;
        /* max-width: 100em; */
    }
    .pan img{
        width:6em; 
        border-radius: 5px;
        /* position: relative; */
    }
    .roof img{
        height: 10em;
        border-radius: 5px;
    }
    .pan{
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .panels{
        display: flex;
        flex-direction: column;
        flex: 2; 
        gap: 10px;
    }
    .end{
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }
    @media (max-width:854px) {
        .clock, .bx-time, .bxs-envelope{
            margin-right: 5px;
        }
        .gmail{
            margin-left: 2em;
        }
        .picture{
            object-fit: cover;
        }
        
    }
    @media (max-width:500px){
        .clock{
            font-size: 0.64em;
        }
        .header-icons{
            display: flex;
        }
        .navbar-logo{
            font-size: 0.8em;
        }
        .solari-menu{
            display: grid;
            grid-template-columns: repeat(4,1fr);
        }
        .bx-search{
            margin: 5.5px 6px;
        }
        .nav-icons p{
            font-size: 10px;
        }
        .harnessing-text{
            font-size: 2em;
        }
        .harnest-text{
            line-height: 1.9em;
            width: 88%;
            margin-left: 10px;
        }
        .four-harnessing{
            display: grid;
            grid-template-columns: repeat(2,1fr);  
              
        }
        .harnessing1,.harnessing2,.harnessing3,.harnessing4{
            background-color:  rgb(241, 238, 232);
            border-radius: 1em;
        }
        .harnessing1,.harnessing2{
            margin-bottom: 8px;
        }
        .about-us{
            margin-top: 10em;
            margin-left: 10px;
        }
        .energy h1{
            font-size: 1.2em;
            line-height: 1.3em;
        }
        .passionate{
            font-size: 13px;
            max-width: 90%;
            line-height: 1.5em;
        }
        .picture{
            max-width: 100%;
        }
        .capacity{
            line-height: 0.9em;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .years-expr{
            font-size: 0.6em;
            width: 100%;
            text-align: center;
            height: 3.5em;
            
        }
        .number{
            font-size: 10px;
        }
        .learn button:hover{
            background-color:blue;
            cursor: pointer;
        }
        .bx-phone{
            font-size: 12px;
        }
        .services h2{
            font-size: 1.6em;
            width: 100%;
        }
        .service-render{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            
        }
    }
    @media (max-width:390px) {
        .head-time{
            display: grid;
            grid-template-columns: repeat(1,1fr); 
            font-size: 12.7px;
            font-weight: 900;
        }
        .gmail{
            display: flex;
            margin-left:2px;
        }
        .visit-us{
            display: flex;
        }
        .bx-time,.bxs-envelope{
            margin-right: 1px;
        }
        .solari-menu{
           display: grid;
           grid-template-columns: repeat(2,1fr); 
        }
        .nav-icons p{
            font-size: 9px;
            max-width: 7.8em;
        }
        .harnessing-text{
            font-size: 30px;
            width: 80%;
            
        }
        .harnest-text{
            padding-left: 10px;
        }
        .harnest-text p{
            line-height: 30px;
        }
        .four-harnessing{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 1em;
        }
        .harnessing1,.harnessing2,.harnessing3,.harnessing4{
            border-radius: 1em;
            background-color: rgb(241, 238, 232);
        }
        .about-us{
            padding-top: 5.5em;
        }
        .energy h1{
            font-size:1em;
            width: 90%;
            line-height: 1em;
            font-weight: 900;
        }
        .about-span{
            font-size: 13px;
        }
        .passionate{
            font-size: 12px;
            line-height: 15px;
            font-weight: 100;
            font-family: Arial, Helvetica, sans-serif;
            width: 90%;
        }
        .save{
            font-size: 13px;
            padding-top: 2px;
        }
        .years-expr{
            font-size:9px;
            width: 35%;
            text-align: center;
            height: 33px;
            /* margin-left: 2px; */
        }
        .learn button{
            font-size: 9px;
        }
        .picture img{
            max-width: 100%;
            height: 16em;
            margin-top: 9px;

        }
        .about_page{
            flex: 1;
            padding-left: 10px;
        }
        .capacity{
            padding-right: 1px;
        }
        .number{
            font-size: 8px;
            margin-left: 2px;
            
        }
        .services h2,.work-process h2{
            font-size: 1.5em;
        }
        .service-render{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
        }
        .service1,.service2,.service3,.service4{
            border-radius: 1.5em;  
        } 
        .service1,.service2{
            margin-bottom:10px;
        }
        .work-process-img,.work-process-img1,.work-process-img2,.work-process-img3{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-content: center;
            align-items: center;
            margin-left: 1.9em;
        }
        .contact-flex h2{
            font-size: 1.3em;
        }
        .contact-input-type input{
            margin: 13px 0px;
            border:1px solid green;
        }
        .get-it-now{
            font-size: 10px;
        }
        .get-it-now:hover{
            background-color:rgb(225, 238, 225);
            color:blue;
        }
        .question h4{
            font-size: 1em;
        }
        .first h6{
            font-size: 12px;
            width: 80%;
        }
        .first p{
            font-size: 9px;
            font-weight: 100;
        }
        .question{
            padding-left: 10px;
        }
        .panels{
            margin-top: 5em;
        }
        .pan img{
            margin-bottom: 3em;
        }
    } 
    @media (max-width:340px){
        .navbar-logo h1{
            font-size: 1.5em;
        }
        .bx-search{
            margin-left: 7px;
        }
        .work-process-img{
            margin-right: 3.7em;
        }
        .about-us{
            margin-top: 8.5em;
            margin-left: -5px;
        }
        .contact-input-type input {
            border:1px solid green;
        }
        .question h2{
            display: flex;
            font-size:0.7em;
        
        }
        
        .pan p{
            font-size: 0.8em;
        }
        .panels{
            /* visibility: hidden; */
        }
    }

    